{% extends '_navbar.html.twig' %}

{% block title %} {{ parent() }} - Movies{% endblock %}
{% block main %}
    {% for key, movies in movies_category %}
        <h2 class="text-center container ">{% block main_title %}{{ key }}{% endblock %}</h2>
        <div class="row">
            {% for item in movies %}
                <a href="{{ path("movie_id", {"id" : item.imdb }) }}">
                    <div class="card-deck" style="margin-left: 5px; width: 18rem;">
                        <div class="card" style="width: fit-content; height: 50vh">
                            <div class="card-body">
                                <div class="img-container">
                                    <img src="{{ item.poster }}" class="card-img-top"
                                         alt="Movie Poster" style="width: fit-content"/>
                                </div>
                                <h5 class="card-title">
                                    {{ item.title }}
                                </h5>
                                <p class="card-text"><small class="text-muted">{{ item.rate }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
