{% extends 'base.html.twig' %}

{% block navbar %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MEDIA BANK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userMenu"
                aria-controls="userMenu"
                aria-expanded="false" aria-label="Toggle user navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn nav-link" href="{{ path('movies') }}">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" href="#">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Genres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('movies', { 'id': 'genre'}) }}">Action</a>
                        <a class="dropdown-item" href="{{ path('movies', { 'id': 'genre'}) }}">Horror</a>
                        <a class="dropdown-item" href="{{ path('movies', { 'id': 'genre'}) }}">Sci-Fi</a>
                        <a class="dropdown-item" href="{{ path('movies', { 'id': 'genre'}) }}">Comedy</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}
